[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
mypy = "*"
pylint = "*"

[packages]
jsonschema = "==3.*"
peewee = "==3.*"
strict-rfc3339 = "*"
appdirs = ">=1.4.0"
iso8601 = "*"
python-json-logger = ">=0.1.5"
TakeTheTime = ">=0.3.0"
